@import "tailwindcss";

* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
}

button,
a,
select,
[role="button"] {
  cursor: pointer;
}

button:disabled,
select:disabled,
[aria-disabled="true"] {
  cursor: not-allowed;
}

@custom-variant dark (&:where(.dark, .dark *));

button,
a,
[role="button"],
input[type="checkbox"],
input[type="radio"],
select,
summary {
  cursor: pointer;
}

button:disabled {
  cursor: not-allowed;
}
